* {
  box-sizing: border-box;
  font-family: 'Capriola';
}
h1{
  color: #333;
  font-size: 44px;
}
#constant {
  width: 50%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  top: 25%;
}
input {
  width: 30%;
  height: 7.5%;
  font-size: 24px;
  color: #333;
  border: 3px solid #333;
  padding-left: 10px;
}
input:focus {
  outline: none;
  color: #DDD;
  background-color: #333;
}
button {
  width: 25%;
  height: 10%;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  color: #333;
}
button:focus {
  outline: none;
}
#content {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}